@(years: Seq[Int])

@main("Historical Temperatures") {
  <p>What month do you want to look at?</p>
  <form method="GET" action="temps">
    Month:<input type="text" name="month" />
    <br>
    Year:<input type="text" name="year" />
    <br>
    <input type="submit" />
  </form>
  <form method="POST" action="@routes.TempController.tempsPost">
    Month:<input type="text" name="month">
    <br>
    Year:<input type="text" name="year">
    <br>
    <input type="submit">
  </form>
  <script src="@routes.Assets.versioned("javascript/test.js")"></script>
}